<div class="span3 collection-sidebar">
  
  <h3>Collections</h3>
  <p><a href="/collections/all-products"><b>All Products</b></a><p><br>
  <p><a href="/collections/jewelry-accessories"><b>Jewelry and Accessories</b></a><p>
    <p class="subcategory"><a href="/collections/jewelry-accessories/jewelry">Jewelry</a><p>
    <p class="subcategory"><a href="/collections/jewelry-accessories/bags">Bags</a><p>
    <p class="subcategory"><a href="/collections/jewelry-accessories/scarves">Scarves<p></a><br>
  <p><a href="/collections/home-goods"><b>Home Goods</b></a></p>
    <p class="subcategory"><a href="/collections/home-goods/kitchen">Kitchen and Dining</a><p>
      <p class="subcategory"><a href="/collections/home-goods/textiles">Textiles</a><p>
        <p class="subcategory"><a href="/collections/home-goods/decoration">Decoration</a><p><br>
  <p><a href="/collections/gifts"><b>Gifts</b></a></p>
    <p class="subcategory"><a href="/collections/gifts/him">For Him</a><p>
    <p class="subcategory"><a href="/collections/gifts/her">For Her</a><p>
    <p class="subcategory"><a href="/collections/gifts/kids">For Kids</a><p><br>

</div>