<!-- Begin sidebar images -->
<div class="row sidebar span3" id="fp-images" style="margin-bottom:25px;">
  <a href="/"><img src="{{ 'sidebar_1.jpg' | asset_url }}"></a>
  <a href="/"><img src="{{ 'sidebar_3.jpg' | asset_url }}"></a>
  <a href="/"><img src="{{ 'sidebar_2.jpg' | asset_url }}"></a>
  </div>
</div>
<!-- End sidebar images -->
