<!-- Begin sidebar images -->
<div class="sidebar span4">
  <a href="/pages/about-fair-trade"><img src="{{ 'sidebar-img-1.jpg' | asset_url }}"></a>
  <a href="/collections/all-products"><img src="{{ 'sidebar-img-2.jpg' | asset_url }}"></a>
  <a href="/pages/locations"><img src="{{ 'sidebar-img-3.jpg' | asset_url }}"></a>
</div>
<!-- End sidebar images -->
