<!-- Begin sidebar images -->
<div class="row sidebar span4" style="margin-bottom:25px;">
  <a href="/pages/what-is-fair-trade"><img src="{{ 'sidebar_1.jpg' | asset_url }}"></a>
  <a href="/collections/all"><img src="{{ 'sidebar_3.jpg' | asset_url }}"></a>
  <a href="/pages/locations"><img src="{{ 'sidebar_2.jpg' | asset_url }}"></a>
  </div>
</div>
<!-- End sidebar images -->
